<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Generar Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <p class="intro-text">Registra asistencia de forma rápida y sencilla generando un nuevo código QR.</p>

  <ion-button expand="block" color="primary" (click)="generateQRCode()">
    Generar Nuevo Código QR
  </ion-button>

  <!-- Spinner de carga cuando el QR se está generando -->
  <ion-spinner *ngIf="isLoading" name="crescent" class="spinner"></ion-spinner>

  <div *ngIf="qrCodeUrl" class="qr-container">
    <h2>Código QR Generado</h2>
    <img [src]="qrCodeUrl" alt="Código QR" class="qr-code animate-qr">
    <p>El QR visible es el único válido!</p>

    <ion-button size="small" fill="outline" color="secondary" (click)="toggleQrDataVisibility()">
      {{ qrDataVisible ? 'Ocultar' : 'Ver' }} ID
    </ion-button>

    <p *ngIf="qrDataVisible">ID: {{ qrData }}</p>
  </div>
</ion-content>
