<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2>¿Problemas con tu asistencia?</h2>
  <li>No apareces registrado</li>
  <li>Problemas con Usuario</li>
  <li>No tienes acceso</li>





  <div class="contact-container">
    <ion-icon name="logo-whatsapp" class="icon"></ion-icon>
    <p>Contáctanos al WhatsApp</p>
  </div>
  <div class="additional-info">
    <span>+56 9 5814 2089</span>
    <p class="working-hours"> Contáctanos de Lunes a Sábado 
      <br>de 09:00 a 19:00 h.</p>
        <a style="text-decoration: none;" href="https://w.app/lWAzTa" target="_blank" class="button-link">
          <ion-button expand="full" color="secondary">WhatsApp</ion-button>
        </a>
    </div>
    




    <div class="contact-container">
      <ion-icon name="call-outline" class="icon"></ion-icon>
      <p>Llámanos</p>
    </div>
    <div class="additional-info">
        <span>(+56) 2 2585 6990</span>
        <p class="working-hours">Llámanos de Lunes a Sábado 
          <br>de 08:30 a 18:00 hr.</p>
          <a style="text-decoration: none;" href="tel:+56225856990" class="button-link">
            <ion-button expand="full" color="secondary">Llamar</ion-button>
          </a>
      </div>





      
    <div class="contact-container">
      <ion-icon name="logo-instagram" class="icon"></ion-icon>
      <p>Háblanos a Instagram</p>
    </div>
    <div class="additional-info">
        <span>duoc_plazavespucio</span>
      <p class="working-hours"> Disponibilidad 24/7</p>
    </div>
    <a style="text-decoration: none;" href="https://www.instagram.com/duoc_plazavespucio/?hl=es" class="button-link">
      <ion-button expand="full" color="secondary">Instagram</ion-button>
    </a>


    
</ion-content>







