<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="imagen">
    <img src="../../assets/imagenes/logoAsistencia-removebg-preview.png" alt="" class="logo">
    <img src="../../assets/imagenes/logoAsistencia2-removebg-preview.png" alt="" class="logo">  
  </div>
  

  <!-- Breve introducción -->
  <h2 style="text-align: center;">Bienvenido {{ userEmail }}</h2>
  <p style="text-align: justify;">Esta aplicación te permitirá registrar tu asistencia escaneando el código QR que se mostrará en clase.</p>


  <!-- Animación: Gira el ícono de escaneo -->
  <div>
    <img class="scanner-icon" src="https://img.freepik.com/vector-gratis/persona-escaneando-codigo-qr-telefono-inteligente_23-2148633637.jpg" 
    alt="Icono QR">
  </div>

  <!-- Sección de información sobre la aplicación -->
  <h3 style="text-align: center;">¿Cómo funciona?</h3>
  <p style="text-align: justify;">
    Cada profesor generará un código QR para registrar la asitencia al inicio o final de su clase. Solo necesitas abrir la app, 
    ir a la sección de "Escáner" y apuntar con tu cámara al código. La asistencia se registrará automáticamente con el día y la hora.
  </p>

  <!-- Botón para acceder al escáner o información sobre cómo usarlo -->
  <ion-button expand="block" color="primary" routerLink="/escaneo" style="margin-top: 20px;">
    Escanear Código QR
  </ion-button>
  


</ion-content>












    <!-- <ion-item>
      <ion-button expand="block" shape="round" color="danger" (click)="logout()">Log Out</ion-button>
    </ion-item> -->



      <!-- <div class="user-email">
    Bienvenido! Usuario: {{ username }}
  </div> -->