.background {
  background-color: #04193b;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.login-container {
  background: rgba(255, 255, 255);
  border-radius: 5%;
  padding: 20px 40px;
  width: 80%;
  max-width: 400px;
  margin: 50px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  z-index: 10;
}

.title {
  margin-bottom: 20px;
  color: black;
}

ion-item {
  margin-bottom: 15px;
}

ion-button {
  margin-top: 20px;
}
