.imagen img:first-child{
    display: block;
}
.imagen img:last-child{
    display: none;
}

.logo{
    display: flex;
    justify-content: center;
    width: 100%;
}

.scanner-icon{
    padding: 20px 60px 40px;
}


@media (prefers-color-scheme: dark){
    .imagen img:first-child{
        display: none;
    }
    .imagen img:last-child{
        display: block;
    }
}